name: Docs
on: [push, pull_request, workflow_dispatch]
permissions:
    contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12.2'
      - name: Install dependencies
        run: |
          pip install sphinx  pydata-sphinx-theme nbsphinx numpydoc matplotlib \
          jupyter_sphinx  sphinx-to-sqlite jupyterlite-sphinx xarray ipyleaflet \
          sphinx-autoapi sphinxext-rediraffe sphinx_design  sphinx_copybutton \
          sphinx-autoapi  myst-parser ablog sphinxcontrib-youtube sphinx_togglebutton \
          sphinx_favicon sphinx_sitemap Linkify-Linkedlist pandoc
      - name: Sphinx build
        run: |
          sphinx-build doc _build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
